@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background: #EFEFBB;
    background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
    margin: 0;
    font-family: rubik;
}

h1 {
	text-align: center;
	font-size: 54px;
}

#title {
    margin-top: 150px;
}

#title img {
    max-width: 500px;
    width: auto;
    height: auto;
}

.search-bar {
    background: #F9F3FF;
    margin: 20px;
    padding: 5px;
    width: 390px;
    height: 60px;
    text-align: center;
    border: #F9F3FF;
    border-radius: 18px;
    font-family: "Roboto Mono", monospace;
    font: regular 18pt #7D7D7D;
}

.button {
    background: #F9F3FF;
    margin: 0px;
    padding: 5px;
    width: 160px;
    height: 40px;
    text-align: center;
    border: #F9F3FF;
    border-radius: 18px;
    font-family: "Roboto Mono", monospace;
    font: regular 18pt #7D7D7D;
	cursor: pointer;
}

/*.home-page-button {
	background: white;
	margin: 10px;
	padding: 5px;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	border: white;
	border-radius: 50%;
	font-family: "Roboto Mono", monospace;
    font: regular 45pt #7D7D7D;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	right: 0;
	color: #7d7d7d;
}*/

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 390px;
}

.container {
	padding: 40px;
	margin: 0 auto;
	font-family: "Roboto Mono", monospace;
    font: regular 18pt;
	color: rgb(43, 43, 43);
	letter-spacing: 4px;
}

.card-elements {
	box-sizing: border-box;
}

.subtitle {
	padding-top: 80px;
	font-family: "Roboto Mono", monospace;
	background-color: tomato;
	width: 270px;
	margin: auto;
	background-image: linear-gradient(45deg, #1d2c5e, #0070b6);
	background-size: 100%;
  	background-repeat: repeat;
	font: regular 18pt;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 4px;
	padding-bottom: 20px;
}

.not-container {
    flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-gap: 70px;
	padding-inline-start: 0;
	text-shadow: rgb(170, 169, 169) 2px 2px;
}

.card {
	list-style: none;
	color: #222;
	text-align: center;
	border-style: solid;
	border-width: thin;
	border-radius: 16px;
	position: relative;
	background-color: #ffffff;
}

.card::after {
	content: "";
  display: block;
  width: 220px;
  height: 320px;
  border-radius: 16px;
  position: absolute;
  top: 15%;
  left: 23%;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-number{
	padding-top: 5px;
	font-size: 32px;
	position: relative;
	text-align: center;
	color:rgb(43, 43, 43);
	z-index: 2;
}

.card-title {
	text-transform: capitalize;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	text-align: center;
	z-index: 2;
}

/*.card-subtitle {
	margin: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	text-align: center;
	z-index: 2;
}*/

.card-image {
	height: 200px;
	position: relative;
	z-index: 2;
}

.type{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	text-shadow: none;
}

.style-type{
	background-color: #F9F3FF;
	border: #F9F3FF 4px solid;
	border-radius: 16px;
	width:min-content;
	height: min-content;
	color: rgb(43, 43, 43);
	text-align: center;
	margin-top: 14px;
	float: left;
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;

}

/*#type2{
	background-color: seagreen;
	border-radius: 16px;
	width: min-content;
	height: min-content;
	color: rgb(43, 43, 43);
	text-align: center;
	margin-top: 14px;
	float: right;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
	border:seagreen;
}*/

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}









