@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html{
	scroll-behavior: smooth;
}

body {
    background: #EFEFBB;
    background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
    margin: 0;
    font-family: rubik;
}

h1 {
	text-align: center;
	font-size: 54px;
}

#logo {
    margin-top: 150px;
}

#logo img {
    max-width: 500px;
    width: auto;
    height: auto;
}

#searchBar {
    background: #F9F3FF;
    margin: 20px;
    padding: 5px;
    width: 390px;
    height: 60px;
    text-align: center;
    border: #F9F3FF;
    border-radius: 18px;
    font-family: "Roboto Mono", monospace;
    font: regular 18pt #7D7D7D;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 390px;
}

.button {
    background: #F9F3FF;
    margin: 10px;
    padding: 5px;
    width: 160px;
    height: 40px;
    text-align: center;
    border: #F9F3FF;
    border-radius: 18px;
    font-family: "Roboto Mono", monospace;
    font: regular 18pt #7D7D7D;
	cursor: pointer;
}

.button-top{
	z-index: 10 !important;
	position: fixed;
	cursor: pointer;
	bottom: 8px;
	right: 10px;
	width: 54px;
	height: 52px;
	border: 2px solid #7d7d7d9f;
	border-radius: 50%;
	background: #F9F3FF;
	transition-duration: 0.3s;
	color: #7D7D7D;
}

.button-top:hover{
	background-color:#7D7D7D;
	color: white
}

.material-icons{ 
	font-size: 30px; 
}

.container {
	padding: 40px;
	margin: 0 auto;
}

.not-container {
    flex-direction: column;
	align-items: center;
	justify-content: center;
	display: flex;
}

.subtitle {
	padding-top: 80px;
	font-family: "Roboto Mono", monospace;
	background-color: tomato;
	width: 270px;
	margin: auto;
	background-image: linear-gradient(45deg, #1d2c5e, #0070b6);
	background-size: 100%;
  	background-repeat: repeat;
	font: regular 18pt;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 4px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card:after {
	content: "";
  	display: block;
  	width: 50%;
	height: 45%;
	border-radius: 100%;
	background-color: #fff;
	opacity: .7;
	position: absolute;
	top: 15%;
	left: 25%;
}

.card:hover {
	animation: bounce 0.5s linear;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}
	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water, .ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #98d7a5;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.normal {
	background-color: #F5F5F5;
}

.tf{
	font-size: 60px;
}
